<div id="countdown-holder">Remaining Time: 30 seconds</div>
<% link_to 'Reload', url_for(params) %>
<script>
  <%= render partial: 'game.js.erb',
  locals: {
          user: @game.user,
          memes: @game.memes,
          character: @game.character,
          environment: @game.environment} %>
</script>
<div id="mygame">
  <div id='play-button'>Start Game</div>
</div>
