<p id="countdown-holder">Remaining Time: 30 secs</p>
<% link_to 'Reload', url_for(params) %>
<p id='play-button'>Click <span id="play">here</span> to Play!</p>
<script>
  <%= render partial: 'game.js.erb',
  locals: {
          user: @game.user,
          memes: @game.memes,
          character: @game.character,
          environment: @game.environment} %>
</script>
