<h1>Good luck, <%= @game.user.username %></h1> 
<h1>this is game number <%= @game.user.games.length %> for you!</h1> 
<h2 id="countdown-holder">Remaining Time: 30 secs</h2>
<%= link_to 'Reload', url_for(params) %>

<h4>Click here to start the game!</h4>

<script>
  <%= render partial: 'game.js.erb',
  locals: {
          user: @game.user,
          memes: @game.memes,
          character: @game.character,
          environment: @game.environment} %>
</script>
