<h2 id="countdown-holder">Remaining Time: 30 secs</h2>
<%= link_to 'Reload', url_for(params) %>
<h3>Games Played: <%= @game.user.num_games_played %></h3>

<h4>Click here to start the game!</h4>

<script>
  <%= render partial: 'game.js.erb',
  locals: {
          user: @game.user,
          memes: @game.memes,
          character: @game.character,
          environment: @game.environment} %>
</script>
